In [11]:
import pandas as pd
import numpy as np

In [12]:
books = []
genre = []

for ind in range(1, 21):
    books.append(pd.read_csv('goodreads/books_' + str(ind) +'.csv'))
    genre.append(pd.read_csv('goodreads/genre_' + str(ind) +'.csv'))
    
for ind in range(121, 121):
    books.append(pd.read_csv('goodreads/books_' + str(ind) +'.csv'))
    genre.append(pd.read_csv('goodreads/genre_' + str(ind) +'.csv'))
    
print(len(books))
print(len(genre))

20
20

In [13]:
book_data = pd.concat(books)
genre_data = pd.concat(genre)

print(len(book_data))
print(len(genre_data))

453766
31576080

In [14]:
book_data.drop_duplicates(inplace=True)
genre_data.drop_duplicates(subset=['GenreLink', 'Genre'], keep='last', inplace=True)

print(len(book_data))
print(len(genre_data))

447995
13748796

In [15]:
tags = genre_data.groupby('Genre', as_index=False).NumberOfPeople.sum().sort_values(by="NumberOfPeople",ascending=False)
tags

                                Genre  NumberOfPeople
755633                        to-read       406207942
230640              currently-reading        26240256
298283                        fiction         6502825
288229                        fantasy         5092692
292825                      favorites         4929945
...                               ...             ...
273227           ensaios-e-literatura               1
273228                 ensaios-essays               1
273229          ensaios-essays-teoria               1
580829  philosophy-social-science-etc               1
431014                 land-institute               1

[862028 rows x 2 columns]

In [16]:
rejected_tags = tags[tags.NumberOfPeople <= 10]
rejected_tags

                                Genre  NumberOfPeople
402955                      j-to-read              10
288811                 fantasy-hylden              10
251691                domáca-knižnica              10
820339                 wrl-kindle-fic              10
370948                 history-xix-xx              10
...                               ...             ...
273227           ensaios-e-literatura               1
273228                 ensaios-essays               1
273229          ensaios-essays-teoria               1
580829  philosophy-social-science-etc               1
431014                 land-institute               1

[746575 rows x 2 columns]

In [19]:
rejected = rejected_tags.Genre.values.tolist()

genre_data = genre_data[~genre_data.Genre.isin(rejected)]
len(genre_data)

12019830

In [20]:
links = genre_data.GenreLink.unique().tolist()
len(links)

143868

In [21]:
book_data = book_data[book_data.GenreLink.isin(links)]
len(book_data)

447991

In [22]:
book_data.drop(columns=['Number of raters'], inplace=True)

In [23]:
book_data

,BookID,Title,Author,Rating,5 stars,4 stars,3 stars,2 stars,1 star,Number of reviewers,Pages,Book format,Language,GenreLink,Series,PublishYear
0,3,Harry Potter and the Sorcerer's Stone,"J.K. Rowling, Mary GrandPré",4.48,4868903,1704361,631378,148016,127122,118557,309,Hardcover,English,4640799,Harry Potter,1997
1,1,Harry Potter and the Half-Blood Prince,J.K. Rowling,4.57,1738165,611768,175048,29134,13230,41832,652,Paperback,English,41335427,Harry Potter,2005
2,7,The Harry Potter Collection,"J.K. Rowling, Mary GrandPré",4.73,25140,4473,1111,230,282,921,318,Paperback,English,21457570,Harry Potter,2005
3,10,Harry Potter Collection,J.K. Rowling,4.73,25140,4473,1111,230,282,921,3342,Hardcover,English,21457570,Harry Potter,2005
4,5,Harry Potter and the Prisoner of Azkaban,"J.K. Rowling, Mary GrandPré",4.57,2028235,706012,215277,29265,14292,58998,435,Mass Market Paperback,English,2402163,Harry Potter,1999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16049,1999943,Clair de Lune,Pierre la Mure,4.29,118,67,38,7,0,14,400,Paperback,French,2003764,None,1962
16050,1999952,Flugasche,Monika Maron,3.62,37,54,48,16,6,18,243,Paperback,German,1123718,None,1981
16051,1999951,Flugasche,Monika Maron,3.62,37,54,48,16,6,18,243,Paperback,German,1123718,None,1981
16052,1999978,Chocolate Chip Cookie Murder,Joanne Fluke,3.70,13246,15738,14458,4073,1816,3452,389,Hardcover,English,1127060,Hannah Swensen,2000
16053,1999998,Proteus,Morris L. West,3.78,78,111,94,21,3,24,372,Mass Market Paperback,English,55516,None,1979

In [24]:
book_data.to_csv("books.csv", index = False)
genre_data.to_csv("genre.csv", index = False)