In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('data/complete_data.csv')
    
data.head()

,BookID,Title,Author,Rate,Raters,Reviewers,Pages,PublishYear,GenreLink,Series,review,Genre,NumberOfPeople
0,259072,Designing with Web Standards,Jeffrey Zeldman,4.07,2118,79,436.0,2003,/work/shelves/251102,NaN,2,to-read,1167
1,259072,Designing with Web Standards,Jeffrey Zeldman,4.07,2118,79,436.0,2003,/work/shelves/251102,NaN,2,design,101
2,259072,Designing with Web Standards,Jeffrey Zeldman,4.07,2118,79,436.0,2003,/work/shelves/251102,NaN,2,web-design,46
3,259072,Designing with Web Standards,Jeffrey Zeldman,4.07,2118,79,436.0,2003,/work/shelves/251102,NaN,2,currently-reading,38
4,259072,Designing with Web Standards,Jeffrey Zeldman,4.07,2118,79,436.0,2003,/work/shelves/251102,NaN,2,web,36

In [6]:
clustering_data = data[['BookID', 'Author', 'Series', 'Genre', 'NumberOfPeople']]
classification_data = data[['BookID', 'Raters', 'Reviewers', 'Pages', 'PublishYear', 'review']]
book_data = data[['BookID', 'Title']]

print(len(clustering_data), len(classification_data), len(book_data))

7934620 7934620 7934620

In [7]:
clustering_data.head()

   BookID           Author Series              Genre  NumberOfPeople
0  259072  Jeffrey Zeldman    NaN            to-read            1167
1  259072  Jeffrey Zeldman    NaN             design             101
2  259072  Jeffrey Zeldman    NaN         web-design              46
3  259072  Jeffrey Zeldman    NaN  currently-reading              38
4  259072  Jeffrey Zeldman    NaN                web              36

In [8]:
classification_data = classification_data.drop_duplicates(subset="BookID")
len(classification_data)

97616

In [9]:
book_data = book_data.drop_duplicates(subset="BookID")
len(book_data)

97616

In [10]:
clustering_data.to_csv('ml_data/clustering_data.csv', index=False)
classification_data.to_csv('ml_data/classification_data.csv', index=False)
book_data.to_csv('ml_data/book_data.csv', index=False)