In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/complete_data.csv')
    
data.head()

,BookID,Title,Author,Rate,Raters,Reviewers,Pages,PublishYear,GenreLink,Series,review,Tags
0,1,Harry Potter and the Half-Blood Prince,J.K. Rowling,4.57,2469197,40043,652.0,2005,/work/shelves/41335427,Harry Potter,2,"to-read, fantasy, favorites, young-adult, fict..."
1,2,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré",4.50,2541611,43067,870.0,2003,/work/shelves/2809203,Harry Potter,2,"to-read, currently-reading, fantasy, favorites..."
2,3,Harry Potter and the Sorcerer's Stone,"J.K. Rowling, Mary GrandPré",4.47,7145889,113905,309.0,1997,/work/shelves/4640799,Harry Potter,2,"to-read, currently-reading, fantasy, favorites..."
3,4,Harry Potter and the Chamber of Secrets,J.K. Rowling,4.43,2766218,53651,352.0,1998,/work/shelves/6231171,Harry Potter,2,"to-read, currently-reading, fantasy, favorites..."
4,5,Harry Potter and the Prisoner of Azkaban,"J.K. Rowling, Mary GrandPré",4.57,2849671,56337,435.0,1999,/work/shelves/2402163,Harry Potter,2,"to-read, fantasy, favorites, currently-reading..."

In [3]:
clustering_data = data[['BookID', 'Author', 'Series', 'Tags']]
classification_data = data[['BookID', 'Raters', 'Reviewers', 'Pages', 'PublishYear', 'review']]
book_data = data[['BookID', 'Title']]

print(len(clustering_data), len(classification_data), len(book_data))

97604 97604 97604

In [4]:
clustering_data.head()

,BookID,Author,Series,Tags
0,1,J.K. Rowling,Harry Potter,"to-read, fantasy, favorites, young-adult, fict..."
1,2,"J.K. Rowling, Mary GrandPré",Harry Potter,"to-read, currently-reading, fantasy, favorites..."
2,3,"J.K. Rowling, Mary GrandPré",Harry Potter,"to-read, currently-reading, fantasy, favorites..."
3,4,J.K. Rowling,Harry Potter,"to-read, currently-reading, fantasy, favorites..."
4,5,"J.K. Rowling, Mary GrandPré",Harry Potter,"to-read, fantasy, favorites, currently-reading..."

In [5]:
classification_data.head()

   BookID   Raters  Reviewers  Pages  PublishYear  review
0       1  2469197      40043  652.0         2005       2
1       2  2541611      43067  870.0         2003       2
2       3  7145889     113905  309.0         1997       2
3       4  2766218      53651  352.0         1998       2
4       5  2849671      56337  435.0         1999       2

In [6]:
book_data.head()

   BookID                                      Title
0       1     Harry Potter and the Half-Blood Prince
1       2  Harry Potter and the Order of the Phoenix
2       3      Harry Potter and the Sorcerer's Stone
3       4    Harry Potter and the Chamber of Secrets
4       5   Harry Potter and the Prisoner of Azkaban

In [7]:
clustering_data.to_csv('ml_data/clustering_data.csv', index=False)
classification_data.to_csv('ml_data/classification_data.csv', index=False)
book_data.to_csv('ml_data/book_data.csv', index=False)