In [1]:
import pandas as pd

In [2]:
genre = pd.read_csv('goodreads/genre.csv')
len(genre)

7934620

In [3]:
genre.head()

                GenreLink        Genre  NumberOfPeople
0  /work/shelves/41335427      to-read          318638
1  /work/shelves/41335427      fantasy           48263
2  /work/shelves/41335427    favorites           39668
3  /work/shelves/41335427  young-adult           15466
4  /work/shelves/41335427      fiction           13661

In [4]:
main_data = genre[['GenreLink', 'Genre']]
main_data.head()

                GenreLink        Genre
0  /work/shelves/41335427      to-read
1  /work/shelves/41335427      fantasy
2  /work/shelves/41335427    favorites
3  /work/shelves/41335427  young-adult
4  /work/shelves/41335427      fiction

In [5]:
main_data = main_data.dropna()
len(main_data)

7934606

In [6]:
tags = main_data.groupby(['GenreLink'])['Genre'].transform(lambda x : ', '.join(x))
len(tags)

7934606

In [7]:
main_data['Tags'] = tags 
trimmed_data = main_data.drop_duplicates(subset=['GenreLink'])

len(trimmed_data)

97616

In [8]:
trimmed_data = trimmed_data.drop(columns=['Genre'])
trimmed_data.head()

                  GenreLink                                               Tags
0    /work/shelves/41335427  to-read, fantasy, favorites, young-adult, fict...
82    /work/shelves/2809203  to-read, currently-reading, fantasy, favorites...
146   /work/shelves/3046572  to-read, currently-reading, fantasy, favorites...
247   /work/shelves/4640799  to-read, currently-reading, fantasy, favorites...
329   /work/shelves/2402163  to-read, fantasy, favorites, currently-reading...

In [9]:
trimmed_data.to_csv('data/tags.csv', index=False)