In [1]:
import pandas as pd
import numpy as np

In [3]:
ind = 1
books = pd.read_csv('goodreads/books_' + str(ind) +'.csv')
genre = pd.read_csv('goodreads/genre_' + str(ind) +'.csv')

In [4]:
books.head()

,BookID,Title,Author,Rating,Number of raters,5 stars,4 stars,3 stars,2 stars,1 star,Number of reviewers,Pages,Book format,Language,GenreLink,Series,PublishYear
0,3,Harry Potter and the Sorcerer's Stone,"J.K. Rowling, Mary GrandPré",4.48,7479780,4868903,1704361,631378,148016,127122,118557,309,Hardcover,English,4640799,Harry Potter,1997
1,1,Harry Potter and the Half-Blood Prince,J.K. Rowling,4.57,2567345,1738165,611768,175048,29134,13230,41832,652,Paperback,English,41335427,Harry Potter,2005
2,7,The Harry Potter Collection,"J.K. Rowling, Mary GrandPré",4.73,31236,25140,4473,1111,230,282,921,318,Paperback,English,21457570,Harry Potter,2005
3,10,Harry Potter Collection,J.K. Rowling,4.73,31236,25140,4473,1111,230,282,921,3342,Hardcover,English,21457570,Harry Potter,2005
4,5,Harry Potter and the Prisoner of Azkaban,"J.K. Rowling, Mary GrandPré",4.57,2993081,2028235,706012,215277,29265,14292,58998,435,Mass Market Paperback,English,2402163,Harry Potter,1999

In [5]:
genre.head()

   GenreLink              Genre  NumberOfPeople
0    4640799            to-read         1082661
1    4640799  currently-reading          160630
2    4640799            fantasy           64264
3    4640799          favorites           57385
4    4640799            fiction           19352

In [16]:
len(books)

46556

In [7]:
len(genre)

3045377

In [12]:
genre_link = books.GenreLink.unique().tolist()
len(genre_link)

31237

In [24]:
genre.GenreLink.iloc[20] in genre_link

True

In [26]:
clean = genre[genre["GenreLink"].isin(genre_link)]
len(clean)

3045077

In [28]:
clean.to_csv('goodreads/genre_' + str(ind) +'.csv', index=False)

In [29]:
def clean_genre(ind):
    books = pd.read_csv('goodreads/books_' + str(ind) +'.csv')
    genre = pd.read_csv('goodreads/genre_' + str(ind) +'.csv')

    genre_link = books.GenreLink.unique().tolist()
    clean = genre[genre["GenreLink"].isin(genre_link)]

    clean.to_csv('goodreads/genre_' + str(ind) +'.csv', index=False)

In [31]:
for i in range(11, 16):
    clean_genre(i)