In [1]:
import pandas as pd

In [2]:
books_1 = pd.read_csv('goodreads/data_d.csv')
books_2 = pd.read_csv('goodreads/data_q.csv')

books = pd.concat([books_1, books_2])
len(books)

97618

In [3]:
genre = pd.read_csv('goodreads/genre.csv')
len(genre)

7934620

In [5]:
complete_data = pd.merge(books, genre)
len(complete_data)

7934620

In [6]:
complete_data.head()

,BookID,Title,Author,Rate,Raters,Reviewers,Pages,PublishYear,GenreLink,Series,review,Genre,NumberOfPeople
0,259072,Designing with Web Standards,Jeffrey Zeldman,4.07,2118,79,436.0,2003,/work/shelves/251102,NaN,2,to-read,1167
1,259072,Designing with Web Standards,Jeffrey Zeldman,4.07,2118,79,436.0,2003,/work/shelves/251102,NaN,2,design,101
2,259072,Designing with Web Standards,Jeffrey Zeldman,4.07,2118,79,436.0,2003,/work/shelves/251102,NaN,2,web-design,46
3,259072,Designing with Web Standards,Jeffrey Zeldman,4.07,2118,79,436.0,2003,/work/shelves/251102,NaN,2,currently-reading,38
4,259072,Designing with Web Standards,Jeffrey Zeldman,4.07,2118,79,436.0,2003,/work/shelves/251102,NaN,2,web,36

In [11]:
for i in range(1, 101):
    data = complete_data[(complete_data.BookID > (i - 1) * 50000) & (complete_data.BookID <= i * 50000)]
    
    data.to_csv('data/complete_data_{}.csv'.format(i), index=False)

In [13]:
complete_data.to_csv('data/complete_data.csv', index=False)