In [8]:
import pandas as pd

In [9]:
books = pd.read_csv('data/book_data.csv')

books.head()

,BookID,Title,Author,Rate,Raters,Reviewers,Pages,PublishYear,GenreLink,Series,review
0,1,Harry Potter and the Half-Blood Prince,J.K. Rowling,4.57,2469197,40043,652.0,2005,/work/shelves/41335427,Harry Potter,2
1,2,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré",4.50,2541611,43067,870.0,2003,/work/shelves/2809203,Harry Potter,2
2,3,Harry Potter and the Sorcerer's Stone,"J.K. Rowling, Mary GrandPré",4.47,7145889,113905,309.0,1997,/work/shelves/4640799,Harry Potter,2
3,4,Harry Potter and the Chamber of Secrets,J.K. Rowling,4.43,2766218,53651,352.0,1998,/work/shelves/6231171,Harry Potter,2
4,5,Harry Potter and the Prisoner of Azkaban,"J.K. Rowling, Mary GrandPré",4.57,2849671,56337,435.0,1999,/work/shelves/2402163,Harry Potter,2

In [10]:
genre = pd.read_csv('data/tags.csv')
genre.head()

                GenreLink                                               Tags
0  /work/shelves/41335427  to-read, fantasy, favorites, young-adult, fict...
1   /work/shelves/2809203  to-read, currently-reading, fantasy, favorites...
2   /work/shelves/3046572  to-read, currently-reading, fantasy, favorites...
3   /work/shelves/4640799  to-read, currently-reading, fantasy, favorites...
4   /work/shelves/2402163  to-read, fantasy, favorites, currently-reading...

In [11]:
print(len(books), len(genre))

97606 97616

In [12]:
complete_data = pd.merge(books, genre, how = 'inner', on = 'GenreLink')
len(complete_data)

97604

In [13]:
complete_data.head()

,BookID,Title,Author,Rate,Raters,Reviewers,Pages,PublishYear,GenreLink,Series,review,Tags
0,1,Harry Potter and the Half-Blood Prince,J.K. Rowling,4.57,2469197,40043,652.0,2005,/work/shelves/41335427,Harry Potter,2,"to-read, fantasy, favorites, young-adult, fict..."
1,2,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré",4.50,2541611,43067,870.0,2003,/work/shelves/2809203,Harry Potter,2,"to-read, currently-reading, fantasy, favorites..."
2,3,Harry Potter and the Sorcerer's Stone,"J.K. Rowling, Mary GrandPré",4.47,7145889,113905,309.0,1997,/work/shelves/4640799,Harry Potter,2,"to-read, currently-reading, fantasy, favorites..."
3,4,Harry Potter and the Chamber of Secrets,J.K. Rowling,4.43,2766218,53651,352.0,1998,/work/shelves/6231171,Harry Potter,2,"to-read, currently-reading, fantasy, favorites..."
4,5,Harry Potter and the Prisoner of Azkaban,"J.K. Rowling, Mary GrandPré",4.57,2849671,56337,435.0,1999,/work/shelves/2402163,Harry Potter,2,"to-read, fantasy, favorites, currently-reading..."

In [14]:
complete_data.to_csv('data/complete_data.csv', index=False)