In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('ml_data/clustering_data.csv')

info = data[['BookID', 'Author', 'Series', 'Genre']]
info.head()

   BookID           Author Series              Genre
0  259072  Jeffrey Zeldman    NaN            to-read
1  259072  Jeffrey Zeldman    NaN             design
2  259072  Jeffrey Zeldman    NaN         web-design
3  259072  Jeffrey Zeldman    NaN  currently-reading
4  259072  Jeffrey Zeldman    NaN                web

In [5]:
books = info.BookID.unique()
books[:10]

array([259072, 483820, 483829, 483828, 483846, 483864, 483866, 483859,
       483888, 483891], dtype=int64)

In [7]:
samp = info[info.BookID == 483829]

samp.head()

     BookID        Author Series              Genre
163  483829  Maxine Swann    NaN            to-read
164  483829  Maxine Swann    NaN            fiction
165  483829  Maxine Swann    NaN  currently-reading
166  483829  Maxine Swann    NaN          book-club
167  483829  Maxine Swann    NaN                own

In [19]:
series = samp.Series.values[0]
series

nan

In [20]:
def isnan(x):
    return x != x

print(isnan(1), isnan(series))

False True

In [22]:
sample_info = [samp.Author.values[0]]

if isnan(series):
    sample_info.append('none')
else:
    sample_info.append(series)
    
sample_info

['Maxine Swann', 'none']

In [ ]:
sample_info += samp.genre.values.tolist()