In [2]:
import pandas as pd
import numpy as np

In [5]:
data = []

for i in range(1, 101):
    data.append(pd.read_csv('data/complete_data_{}.csv'.format(i)))
    
df = pd.concat(data)

In [7]:
conditions = [
    (df['Rate'] < 3),
    (df['Rate'] >= 3) & (df['Rate'] < 3.8),
    (df['Rate'] >= 3.8) 
    ]

values = [0, 1, 2]

In [9]:
df['review'] = np.select(conditions, values)
df.head()

,BookID,Title,Author,Rate,Raters,Reviewers,Pages,PublishYear,GenreLink,Series,review,Genre,NumberOfPeople
0,1,Harry Potter and the Half-Blood Prince,J.K. Rowling,4.57,2469197,40043,652.0,2005,/work/shelves/41335427,Harry Potter,2,to-read,318638
1,1,Harry Potter and the Half-Blood Prince,J.K. Rowling,4.57,2469197,40043,652.0,2005,/work/shelves/41335427,Harry Potter,2,fantasy,48263
2,1,Harry Potter and the Half-Blood Prince,J.K. Rowling,4.57,2469197,40043,652.0,2005,/work/shelves/41335427,Harry Potter,2,favorites,39668
3,1,Harry Potter and the Half-Blood Prince,J.K. Rowling,4.57,2469197,40043,652.0,2005,/work/shelves/41335427,Harry Potter,2,young-adult,15466
4,1,Harry Potter and the Half-Blood Prince,J.K. Rowling,4.57,2469197,40043,652.0,2005,/work/shelves/41335427,Harry Potter,2,fiction,13661

In [10]:
for i in range(1, 101):
    piece = df[(df.BookID > (i - 1) * 50000) & (df.BookID <= i * 50000)]
    
    piece.to_csv('data_raw/data_{}.csv'.format(i), index=False)

In [12]:
clustering_data = df[['BookID', 'Author', 'Series', 'Genre']]
classification_data = df[['BookID', 'Raters', 'Reviewers', 'Pages', 'PublishYear', 'review']]
book_data = df[['BookID', 'Title']]

print(len(clustering_data), len(classification_data), len(book_data))

2674669 2674669 2674669